<div>
	<form (submit)="onSubmit()">
		<div class="form-group  m-auto mt-5 align-items-center  align-items-center"
			style="width:32%;">
			<label for="inputField">Input Field</label>
			<input [(ngModel)]="inputData"
				type="text"
				id="inputField"
				name="inputField"
				class="form-control"
				required="required">
			<div *ngIf="invalidUrl"
				class="bg-danger  text-light fw-bold text-center pt-3 pb-3 mt-3">
				{{ errorText }}
			</div>
			<button type="submit"
				class="btn btn-primary w-100 mt-3">
				Submit
			</button>
		</div>
	</form>

	<div *ngIf="response"
		class="bg-success m-auto mt-5 pt-3 pb-2 text-light fw-bold text-center align-items-center"
		style="width:35%; padding-bottom: 4px;">
		<p>
			{{ response.message }}
		</p>
	</div>

	<div *ngIf="urlList.length > 0"
		class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-8">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>URLS</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of urlList">
							<td>
								<form (submit)="submitScrap(item.name)">
									<div class="row">
										<div class="col-8">
											<input [(ngModel)]="scrapURL"
												type="text"
												name="scrapURL"
												value="{{ item.name }}"
												class="bg-transparent w-75"
												style="color:black;"
												placeholder="{{ item.name }}"
												readonly>
										</div>
										<div class="col-2 text-right">
											<button type="submit"
												class="btn btn-primary w-100"
												style="margin-left:10px;">
												Scrap!
											</button>
										</div>
										<div class="col-2">
											<a href="http://localhost/laravel-scrapper/public/delete/{{item._id}}" class="btn btn-danger w-100">Delete</a>
										</div>
									</div>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div *ngIf="scrapedDataList.length > 0"
		class="container mt-5 bg-dark text-light pt-5">

		<div class="row text-right">
			<div *ngFor="let data of scrapedDataList">
				<h1 *ngFor="let result of data.h1"
					class="text-right">
					{{ result }}
				</h1>
			</div>
			<br>

			<div *ngFor="let data of scrapedDataList">
				<h2 *ngFor="let result of data.h2"
					class="text-right">
					{{ result }}
				</h2>
			</div>

			<br>

			<div *ngFor="let data of scrapedDataList;">
				<h3 *ngFor="let result of data.h3;"
					class="text-right">
					{{ result }}
				</h3>
			</div>
			<br>

			<div *ngFor="let data of scrapedDataList;">
				<h4 *ngFor="let result of data.h4;"
					class="text-right">
					{{ result }}
				</h4>

			</div>
			<br>

			<div *ngFor="let data of scrapedDataList; ">
				<h4 *ngFor="let result of data.a"
					class="text-right">
					{{ result }}
				</h4>

			</div>
			<br>

			<div *ngFor="let data of scrapedDataList; ">
				<h4 *ngFor="let result of data.li"
					class="text-right">
					{{ result }}
				</h4>

			</div>

			<br>

			<div *ngFor="let data of scrapedDataList; ">
				<h4 *ngFor="let result of data.p"
					class="text-right">
					{{ result }}
				</h4>

			</div>
			<br>

			<div *ngFor="let data of scrapedDataList; ">
				<h4 *ngFor="let result of data.article"
					class="text-right">
					{{ result }}
				</h4>
			</div>
			<div *ngFor="let data of scrapedDataList; ">
				<h4 *ngFor="let result of data.div"
					class="text-right">
					{{ result }}
				</h4>
			</div>

		</div>
	</div>
</div>
